body {
    background-image: url(https://menysnoweballes.files.wordpress.com/2017/07/blood.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merienda', cursive;
    color: white;
}

.topImage {
    max-height: 400px;
    border: thick solid #450000;
    border-radius: 15px;
    box-shadow: 5px 6px 10px #450000;
}

.inputForm {
    border: thick solid black;
    border-radius: 5px;
    background-color: black;
    margin: 15px;
}

input {
    margin: 3px;
}

input:hover {
    box-shadow: 3px 6px 8px whitesmoke;
}

.submitButton:hover {
    box-shadow: 3px 6px 8px white;
}

.bountyCard {
    background-color: #450000;
    color: white;
    border: thin solid black;
    border-radius: 55px;
    box-shadow: 5px 6px 10px black;
    margin: 15px;
    
}

.deleteButton{
    margin-bottom: 7px;
}
.deleteButton:hover{
    box-shadow: 3px 4px 6px black;
}